In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host ="localhost",
    user = "root",
    password = "root",
    database = "mmssms"  #path = "/data/data/com.android.providers/telephony/databases/mmssms.db"
) 

mycursor = mydb.cursor()

In [5]:
#mycursor.execute("create database mmssms")

In [8]:
#path = "/data/data/com.android.providers/telephony/databases/mmssms.db"

mycursor.execute("use mmssms")

mycursor.execute("show tables")
for i in mycursor:
    print(i)

('employ_data',)
('sms',)
('threads',)

# Creating Tbales in MMSSMS

In [9]:
sql = "CREATE TABLE if not exists threads (id int AUTO_INCREMENT PRIMARY KEY ,\
   date int DEFAULT 0,\
   message_count int DEFAULT 0,\
   recipient_ids TEXT,\
   snippet TEXT,\
   snippet_cs int DEFAULT 0,\
   read_ int DEFAULT 1,\
   type_ int DEFAULT 0,\
   error_ int DEFAULT 0,\
   has_attachment int DEFAULT 0)"

In [10]:
mycursor.execute(sql)

0

In [11]:
sql = "CREATE TABLE if not exists sms (id INTEGER PRIMARY KEY,\
   thread_id INTEGER,\
   address TEXT,\
   person INTEGER,\
   date INTEGER,\
   date_sent INTEGER DEFAULT 0,\
   protocol INTEGER,\
   read_ INTEGER DEFAULT 0,\
   status INTEGER DEFAULT -1,\
   type INTEGER,\
   reply_path_present INTEGER,\
   subject TEXT,\
   body TEXT,\
   service_center TEXT,\
   locked INTEGER DEFAULT 0,\
   error_code INTEGER DEFAULT 0,\
   seen INTEGER DEFAULT 0)"

In [7]:
sql = "INSERT INTO sms (address, person, subject, body) VALUES (%s, %s, %s, %s)"
val = [
    ("VM-NHPSMS",86647767, "Cowin", "Dear name, You have successfully been vaccinated with your 1st Dose with COVISHIELD on 25-05-2021 at 12:53 PM. You may download your vaccination Certificate from - https://cowin.gov.in - CoWIN" ),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

1 was inserted.

In [24]:
sql = "INSERT INTO sms (address, person, subject, body) VALUES (%s, %s, %s, %s)"
val = [
    ("VM-NHPSMS",45557885, "Cowin", "Dear name, You have successfully been vaccinated with your 1st Dose with COVISHIELD on 25-05-2021 at 12:53 PM. You may download your vaccination Certificate from - https://cowin.gov.in - CoWIN" ),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

1 was inserted.

In [15]:
mycursor.execute("select subject,person,body from sms where subject ='Cowin'")

li = []
for i in mycursor:
    li.append(i)

In [16]:
li

[('Cowin',
  86647767,
  'Dear name, You have successfully been vaccinated with your 1st Dose with COVISHIELD on 25-05-2021 at 12:53 PM. You may download your vaccination Certificate from - https://cowin.gov.in - CoWIN'),
 ('Cowin',
  45557885,
  'Dear name, You have successfully been vaccinated with your 1st Dose with COVISHIELD on 25-05-2021 at 12:53 PM. You may download your vaccination Certificate from - https://cowin.gov.in - CoWIN')]

In [18]:
len(li)

2

In [27]:
message = li[1][2]

In [28]:
message

'Dear name, You have successfully been vaccinated with your 1st Dose with COVISHIELD on 25-05-2021 at 12:53 PM. You may download your vaccination Certificate from - https://cowin.gov.in - CoWIN'

In [30]:
phone_num= li[1][1]
phone_num

int

In [32]:
if "successfully been vaccinated" in message:
    sql = "update employ_data set vaccinated = %s where phone_no= %s"

    val = (1, phone_num)

    mycursor.execute(sql,val)

    mydb.commit()

    print(mycursor.rowcount, "record(s) affected")
    print("yes")
else:
    print("no")

0 record(s) affected
yes

In [11]:
mycursor.execute("select  from sms")

res = mycursor.fetchall()

for i in res:
    print(i)

(1, None, 'VM-NHPSMS', 86647767, None, 0, None, 0, -1, None, None, 'Cowin', 'Dear name, You have successfully been vaccinated with your 1st Dose with COVISHIELD on 25-05-2021 at 12:53 PM. You may download your vaccination Certificate from - https://cowin.gov.in - CoWIN', None, 0, 0, 0)

# Creating and inserting the Employ Data in to DB

In [44]:
mycursor.execute('create table if not exists employ_data (id INT AUTO_INCREMENT PRIMARY KEY, emp_id int(10), emp_name varchar(50), phone_no int(10), vaccinated int default 0 )')

0

In [45]:
mycursor.execute("show tables")

for i in mycursor:
    print(i)

('employ_data',)
('sms',)
('threads',)

In [5]:
sql = "INSERT INTO employ_data (emp_id, emp_name, phone_no) VALUES (%s, %s, %s)"
val = [
    (21185, "sunitha", 45557885),
    (21186, "avi", 45559723),
    (21187, "sai", 455598955),
    (21188, "srikanth", 45559145),
    (21189, "manoj", 45549785),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.

In [6]:
mycursor.execute("select * from employ_data")
mycursor.fetchall()

((1, 21185, 'sunitha', 45557885, 0),
 (2, 21186, 'avi', 45559723, 0),
 (3, 21187, 'sai', 455598955, 0),
 (4, 21188, 'srikanth', 45559145, 0),
 (5, 21189, 'manoj', 45549785, 0),
 (6, 21185, 'sunitha', 45557885, 0),
 (7, 21186, 'avi', 45559723, 0),
 (8, 21187, 'sai', 455598955, 0),
 (9, 21188, 'srikanth', 45559145, 0),
 (10, 21189, 'manoj', 45549785, 0))

In [33]:
mycursor.execute("select * from employ_data")
mycursor.fetchall()

((1, 21185, 'sunitha', 45557885, 1),
 (2, 21186, 'avi', 45559723, 0),
 (3, 21187, 'sai', 455598955, 0),
 (4, 21188, 'srikanth', 45559145, 0),
 (5, 21189, 'manoj', 45549785, 0),
 (6, 21185, 'sunitha', 45557885, 1),
 (7, 21186, 'avi', 45559723, 0),
 (8, 21187, 'sai', 455598955, 0),
 (9, 21188, 'srikanth', 45559145, 0),
 (10, 21189, 'manoj', 45549785, 0))